.container {
  display: flex;
  gap: 16px;
  padding: 12px 8px 12px 46px;
  border-radius: 8px;
  background-color: rgb(7 55 85 / 27%);
}

.separator {
  background-color: var(--color-blue-300);
  height: auto;
  width: 1px;
  opacity: 0.5;
}

.clear {
  padding: 0 4px 0 4px;

  &:focus-visible {
    outline: 1px solid;
  }
}

.trash {
  padding: 0 4px 0 4px;

  &:focus-visible {
    outline: 1px solid;
  }
}

.title {
  font-size: 18px;
}
